html {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

/* .container__flow-group {
    width: 100%;
}

.card_full-width {
    width: 100%;
}

.flow-top .card_small {
    width: 33.33%;
} */

.card {
    /* height: 100%; */
    float: left;
    /*position: relative;*/
    min-height: 1px;
    padding: 15px;
    box-sizing: border-box;
    /*padding: 1em;*/
}

.card_control {
    box-sizing: border-box;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

/* @media (max-width: 1100px) {
    .card.card_small {
        width: 50%;
    }

    .card_small.priority {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100% !important;
    }
} */

.card {
    height: 450px;
    min-height: 450px;
}

.card .card_control {
    height: 100%;
}

.container__flow-group {
    float: left;
}

.flow-group_large {
    width: 80%;
}

.flow-group_small {
    width: 20%;
}

.flow-group_large .card {
    width: 50%;
}

.flow-group_small .card  {
    width: 100%;
}

@media (max-width: 1100px) {
    .container__flow-group {
        width: 100%;
    }
    .card.card_small {
        width: 50%;
    }

    /* .card_small.priority {
        width: 100%;
    } */
}

@media (max-width: 800px) {
    .card.card_large {
        width: 100%;
    }
} 

@media (max-width: 500px) {
    .card.card_small {
        width: 100%;
    }
} 